<div class="complaint_reply-<%= complaint_reply.id %> container" style="color: #fff; font-size: 18px; background-color: #747474; border-radius: 20px; width: 100%; margin-top: 20px; display: flex; flex-direction: column; flex: 1;">
    
  <%= complaint_reply.user.name %><br />
  
  <span>Replied at <%= time_ago_in_words(complaint_reply.created_at) %> ago</span>
  
  </hr>
  </br>
  <%= complaint_reply.reply %>
  
</div>