<meta name="viewport" content="width=device-width, initial-scale=1" />

<% provide(:title, "About") %>

  <!DOCTYPE html>
  <html>
    
  <head>
    <title><%= yield(:title) %> | SCE Student Online Application</title>
  </head>
  
  <div class="container">
    <div class="left">
      

      
        <h1>Welcome to SCE Student Online Application System. This is a website made for my final year project.</h1>
    
      
    </div>
      
    
  </div>
  
</html>

