<% provide(:title, "Home") %>

  <!DOCTYPE html>
  <html>
    
  <head>
    <title><%= yield(:title) %> | SCE Student Online Application</title>
  </head>
  
  
  <div class="center jumbotron">
    
    <% if current_user.present? %>
    
      <h1>Welcome to SCE Student Online Application System, <%= current_user.name %></h1>
      
    <% else %>
    
      <h1>Welcome to SCE Student Online Application System.</h1>
    
    <% end %>
    
      <h2>
        This is the placeholder UI for the home page
        
      </h2>
    
    
  </div>
  

  
</html>

