<meta name="viewport" content="width=device-width, initial-scale=1" />

<h1>Editing Complaint</h1>

<%= render 'form', complaint: @complaint %>

<%= link_to 'Show', @complaint, :class => 'button-tables' %> |
<%= link_to 'Back', complaints_path, :class => 'button-tables'  %>
