<div class="conversation-area">
  
  <div class="msg">
  <%= link_to image_tag(user.avatar, class: 'chat_pfp msg1'), user %>
  
  <%= link_to user.name, user, class:'msg-detail msg1', data: {turbo: "false"}%>
  </div>
</div>