
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
      
        
        <%= image_tag(@user.avatar, size: '250x250') if @user.avatar.attached? %>
        
        
        
        </br>
        <%= @user.name %>
        <br>
        <h1>Role ID: <%= @user.role_ids %>  </h1> 
        <h1>Role Name: <%= @user.roles.pluck(:name)  %></h1> 
      </h1>
      </br>
      
      
    </section>
  </aside>
</div>

